{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Reset Password Sent</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">
        {% csrf_token %}
                  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, Try again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Assumes you setup the password_reset view in your URLconf #}



{% endblock body %}
