{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Change Password Success</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">

  <h2>Password Change Successful</h2>
  <p>Your password has been successfully changed. You can now log in with your new password.</p>
  <!-- You can add more content or links here as needed -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Assumes you setup the password_reset view in your URLconf #}



{% endblock body %}
